@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

$mainColor: hsl(225, 20%, 60%);
$subColor: hsl(227, 35%, 25%);
$thumb__behind__color: hsl(174, 77%, 80%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  color: $mainColor;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: hsl(230, 100%, 99%);

  .img__container {
    position: relative;
    // border: 3px solid red;
    width: 100vw;
    height: 50vh;
    overflow: hidden;

    img {
      &:first-child {
        width: 100vw;
        height: 50vh;
        z-index: -2;
      }
      &:nth-child(2) {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
  .text__container {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;

    p {
      color: $subColor;
      font-size: 1.5rem;
      font-weight: 800;
      margin-bottom: 0.5em;
    }
  }

  .content__container {
    width: 35em;
    height: 25em;
    background-color: #fff;
    padding: 2.5em;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    .pageviews__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .pageviews {
        letter-spacing: 0.2rem;
      }
      .pageviews__price {
        color: $subColor;
        font-size: 2rem;
        font-weight: 800;
        &::after {
          content: " / month";
          color: $mainColor;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
    //슬라이더 css 수정
    input[type="range"] {
      width: 100%;
      margin: 1.5em 0;
      -webkit-appearance: none;

      &:focus {
        outline: none;
      }

      &::-webkit-slider-runnable-track {
        border-radius: 20px;
        height: 1em;
        background: hsl(224, 65%, 95%);
        color: black;
        -webkit-appearance: none;
        // background-color: black;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 1.8em;
        width: 1.8em;
        border-radius: 50%;
        background: hsl(174, 86%, 45%);
        cursor: pointer;
        // background: url(./images/icon-slider.svg);
        margin-top: -0.4em;
      }

      // &::-ms-fill-lower {
      //   background: hsl(224, 65%, 95%);
      // }
      // &::-ms-fill-upper {
      //   background: hsl(174, 77%, 80%);
      // }
    }

    .billing__container {
      display: flex;
      justify-content: center;
      margin: 1.5em 0;

      // 마진수정요망
      margin-left: 4.5em;
      gap: 1em;

      .switch {
        display: inline-block;
        font-size: 20px;
        height: 1em;
        width: 2em;
        background: hsl(223, 50%, 87%);
        border-radius: 1em;

        div {
          height: 1em;
          width: 1em;
          border-radius: 1em;
          background: #fff;
          box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          transition: all 300ms;
          padding: 10px;
        }

        input {
          position: absolute;
          opacity: 0;
          &:checked + div {
            -webkit-transform: translate3d(100%, 0, 0);
            -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
          }
        }
      }

      .billing__discount {
        &::after {
          content: "25% discount";
          color: hsl(15, 100%, 70%);
          font-size: 0.8em;
          background-color: hsl(14, 92%, 95%);
          border-radius: 20px;
          padding: 0.1em;
          margin-left: 0.5em;
        }
      }
    }
    .line {
      margin-left: -2.5em;
      margin-right: -2.5em;
    }

    .bottom__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3em 0;

      .desc__container {
        p {
          &::before {
            content: url(./images/icon-check.svg);
            margin-right: 0.5em;
          }
        }
      }
      button {
        color: hsl(226, 100%, 87%);
        background: hsl(227, 35%, 25%);
        border: none;
        border-radius: 100px;
        padding: 1em 2em;
        width: 40%;
        font: inherit;
        cursor: pointer;
        outline: inherit;
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .container {
    overflow-x: hidden;
    .text__container {
      span {
        display: block;
      }
    }
    .content__container {
      top: 30%;
      width: 90%;
      height: 65vh;
      padding: 1.5em;

      .pageviews__container {
        display: block;
        text-align: center;

        .pageviews__price {
          font-size: 2.5rem;
          margin: 0.5em 0;
        }
      }
      //수정요망 순서바꾸기
      input[type="range"] {
        order: 3;
        // margin: 2em 0;
      }

      .billing__container {
        margin-left: 0;
        p {
          font-size: 0.9rem;
        }

        .billing__discount {
          &::after {
            content: " -25%";
          }
        }
      }
      .bottom__container {
        flex-direction: column;
        justify-content: center;
        margin: 1.5em 0;
        gap: 1em;
        button {
          width: 80%;
        }
      }
    }
  }
}
