@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  color: #858fad;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fafbff;
}
.container .img__container {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}
.container .img__container img:first-child {
  width: 100vw;
  height: 50vh;
  z-index: -2;
}
.container .img__container img:nth-child(2) {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.container .text__container {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}
.container .text__container p {
  color: #293356;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.5em;
}
.container .content__container {
  width: 35em;
  height: 25em;
  background-color: #fff;
  padding: 2.5em;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 35%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.container .content__container .pageviews__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .content__container .pageviews__container .pageviews {
  letter-spacing: 0.2rem;
}
.container .content__container .pageviews__container .pageviews__price {
  color: #293356;
  font-size: 2rem;
  font-weight: 800;
}
.container .content__container .pageviews__container .pageviews__price::after {
  content: " / month";
  color: #858fad;
  font-size: 1rem;
  font-weight: 600;
}
.container .content__container input[type=range] {
  width: 100%;
  margin: 1.5em 0;
  -webkit-appearance: none;
}
.container .content__container input[type=range]:focus {
  outline: none;
}
.container .content__container input[type=range]::-webkit-slider-runnable-track {
  border-radius: 20px;
  height: 1em;
  background: #eaeefb;
  color: black;
  -webkit-appearance: none;
}
.container .content__container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.8em;
  width: 1.8em;
  border-radius: 50%;
  background: #10d5c2;
  cursor: pointer;
  margin-top: -0.4em;
}
.container .content__container .billing__container {
  display: flex;
  justify-content: center;
  margin: 1.5em 0;
  margin-left: 4.5em;
  gap: 1em;
}
.container .content__container .billing__container .switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: #cdd7ee;
  border-radius: 1em;
}
.container .content__container .billing__container .switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  padding: 10px;
}
.container .content__container .billing__container .switch input {
  position: absolute;
  opacity: 0;
}
.container .content__container .billing__container .switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.container .content__container .billing__container .billing__discount::after {
  content: "25% discount";
  color: #ff8c66;
  font-size: 0.8em;
  background-color: #feece7;
  border-radius: 20px;
  padding: 0.1em;
  margin-left: 0.5em;
}
.container .content__container .line {
  margin-left: -2.5em;
  margin-right: -2.5em;
}
.container .content__container .bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0;
}
.container .content__container .bottom__container .desc__container p::before {
  content: url(./images/icon-check.svg);
  margin-right: 0.5em;
}
.container .content__container .bottom__container button {
  color: #bdccff;
  background: #293356;
  border: none;
  border-radius: 100px;
  padding: 1em 2em;
  width: 40%;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .container .text__container span {
    display: block;
  }
  .container .content__container {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
