@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  overflow: hidden;
}

.container {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .qr__box {
    background-color: hsl(0, 0%, 100%);
    height: 33em;
    width: 19em;
    padding: 1em;
    border-radius: 15px;
    text-align: center;

    .qr__code {
      background-color: hsl(220, 15%, 55%);
      width: 100%;
      height: 60%;
      border-radius: 15px;
    }

    .qr__desc__big__container {
      margin: 1em 0;
      .qr__desc__big {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    .qr__desc__small {
      color: hsl(220, 15%, 55%);
    }
  }
}
